body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(-45deg,#ee7752,#e73c7e,#8A2BE2);
  background-size:500% 100%;
  perspective: 1000px;
}

canvas {
  border: 2px solid #000;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  transform-style: preserve-3d;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
}

.position {
  display: flex;
  flex-direction: row;
}
