body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  perspective: 1000px;
  font-family: monospace;
}

canvas {
  border: 2px solid #000;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  transform-style: preserve-3d;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: monospace;
  min-width: 150px;
  border-radius: 10px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.position {
  display: flex;
  flex-direction: row;
}

#playerColor {
  margin-bottom: 2rem;
  font-size: 16px;
}